* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Add background image nap city */
/* Style links at the top of page */
header {
    font-family: 'Popins', sans-serif;
    background-image: url(../img/napcity.jpg);
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header__img {
    width: 700px;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.container {
position: relative;
text-align: center;
}
/* create 4 containers one for portfolio, contact me, services, and about-->

